<div class="app-header">
    <div class="right-header">
        <div class="logo">
            <span>AI<span class="brand">Dashboard</span></span>
        </div>
      
        <i id="menu-icon" class="fas fa-bars"></i>
        <div class="search-bar">
        <input type="text" placeholder="Search for..." />
        </div>

    </div>
    

    <div class="user-info">
      <span>Have questions?</span>
      <a href="mailto:help@bluadmin.com">help-bluadmin.com</a>
      <div class="notification-icon">
        <i class="far fa-bell"></i>
        <div class="badge-container">
          <span class="badge"></span>
        </div>
        
        
      </div>
      <div class="user-avatar">
        <img src="path_to_avatar_image" alt="User Avatar" />
      </div>
    </div>
</div>